
.middle-container
    display: flex !important;
    align-items: center;
    justify-content: center;

.product-list
    display: flex !important;
    flex-direction: row;

    .ui, card
        margin: 10px !important;
        cursor: pointer;
        transition: all 0.3s;
        &:hover
            box-shadow: 0 0 3px black;

.product-item-container
    display: flex !important;
    flex-direction: row;

    .card
        margin: 20px 0 0 50px !important;
        cursor: pointer;
    
.scroll-y
    max-height: 45vh;
    overflow-y: scroll;

.image
    img
        height: 290px !important;

.message, .placeholder
    margin: 0 !important;

.comments
    width: 100%;
    margin-left: 120px !important;