.light-blue
    background-color: #7cb9e8 !important;
    color: #7cb9e8 !important;

.white
    color: white !important;

.light-brown
    background-color: #FFDA81 !important;

.brown
    color: #A67808 !important;

.medium-light-brown
    color: #FFCC53 !important;